html {
    background: linear-gradient(140deg, rgba(53, 198, 243, 1) 0%, rgba(255, 71, 193, 1) 100%) no-repeat;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 2.5vw;
    font-family: "JetBrains Mono", monospace;
}

#card {
    background: rgba(255, 255, 255, 0.7);
    width: 80vw;
    height: 40vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 2vw;
    overflow: hidden;
}

#card #tasks h1 {
    margin-top: 3vw;
}

span {
    scale: 2;
    background-color: black;
    color: white;
    border-radius: 50%;
    position: absolute;
    float: right;
    right: 13.3vw;
    bottom: 10vw;
}

span:hover {
    scale: 2.3;
}

#popup {
    position: fixed;
    right: 30%;
    bottom: 35%;
    border-radius: 1vw;
    background-color: rgba(200, 200, 200, 0.4);
    width: 42vw;
    height: 20vw;
    display: none;
    grid-template-areas: 'input1 input1 btn'
                         'input2 input2 btn'
                         'input3 input3 btn';
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#popup input {
    width: 25vw;
    margin: 2vw;
    font-size: 1vw;
    top: 40%;
    border: none;
    border-radius: 0.4vw;
    font-family: "JetBrains Mono", monospace;
}

#popup input:focus {
    outline: none;
}

   /* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1vw;
    width: 10vw;
    height: 80%;
    margin: 21% 0vw 19% -1.5vw;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
