html {
    height: 100%;
    background: linear-gradient(140deg, rgba(53, 198, 243, 1) 0%, rgba(255, 71, 193, 1) 100%) no-repeat;
    font-family: "JetBrains Mono", monospace;
}

#login {
    margin: 12% 20% 10% 20%;
    padding: 0% 0% 10% 0%;
    border-radius: 3vw;
    background: rgba(0, 0, 0, 0.1);
    width: 60%;
}

#login h1 {;
    text-align: center;
    color: white;
    width: 50%;
    padding-top: 10%;
    font-size: 3vw;
}

#input {
    margin-top: 3%;
    display: grid;
    grid-template-areas: 'name name'
                         'pw pw'
                         'but1 but2';
    grid-row-gap: 80%;
    justify-content: center;
    width: 50%;
    grid-area: input;
}

#input button {
    margin-inline: 1vw;
    margin-top: -1vw;
    padding: 0.7vw 1vw;
    width: 70%;
    border-radius: 50em;
    background: black;
    color: white;
    border: none;
    font-size: 1vw;
}

#input button:hover {
    background-color: white;
    color: black;
}

input {
    width: 18vw;
    height: 120%;
    border-radius: 0.3em;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
}

input::placeholder {
    color: grey;
    padding-left: 0.5vw;
}

input:focus {
    opacity: 0.8;
    outline: 0px solid transparent;
}

#login canvas {
    border-radius: 4em;
    float: right;
    margin-top: -19%;
    margin-right: 8%;
}

.log {
    display: block;
}

.reg {
    display: none;
}

.reg h2 {
    text-align: center;
    color: white;
    width: 50%;
    padding-top: 10%;
    font-size: 200%;
}

#register {
    display: grid;
    grid-template-areas: 'header header'
                         'pasw pasw'
                         'start start'
                         'but1 but2';
    grid-row-gap: 20%;
    justify-content: center;
    text-align: center;
    width: 50%;
}

#start {
    border-radius: 5em;
    border: none;
    font-size: 120%;
    padding: 3% 10%;
}

#start:hover {
    background-color: rgba(171, 171, 171, 0.59);
}

.btn {
    margin-inline: 12%;
    margin-top: -0%;
    margin-bottom: -7.5%;
    padding: 5% 10%;
    width: 70%;
    border-radius: 50em;
    background: black;
    color: white;
    border: none;
    font-size: 120%;
}

.btn:hover {
    background-color: white;
    color: black;
}

.logbtn {
    background-color: grey;
}

.regbtn {

}


